<div class="row" *ngIf="breadcrumbs.show() | async">
    <div class="col-12">
        <h2 class="d-flex align-items-center">{{breadcrumbs.getTitle()| async}}
            <div class="ml-2" *ngIf="breadcrumbs.showHelper() | async">
                <div class="icon-link glyph" tooltip="{{breadcrumbs.getHelper()| async}}"
                     placement="right">
                    <div class="glyph-icon simple-icon-question"></div>
                </div>
            </div>
        </h2>
    </div>
</div>
