[Unit]
Description=Rumber Vid service
After=syslog.target
After=network.target
After=redis.service
Requires=redis.service
Wants=rumberocr.service

[Service]
WorkingDirectory=/usr/src/app/
User=pi
Group=pi
Type=idle
ExecStart=/usr/bin/python3 /usr/src/app/app/ServerVid.py start
Restart=always
TimeoutSec=30

[Install]
WantedBy=multi-user.target
WantedBy=rumberocr.service