<div class="authBlock">
    <div *ngIf="!showResetForm">
        <h4 class="mb-4 text-center">{{'AUTH.TITLE.CONFIRMEMAIL'| translate}}</h4>

        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="tooltip-right-top position-relative mb-4 auth-form">
            <label class="form-group col-lg-8 offset-lg-2 has-float-label mb-4">
                <input class="form-control" formControlName="code" type="text" placeholder="" [ngClass]="{'is-invalid': !codeValid && submitted}"/>
                <span>{{'AUTH.FIELD.CODE'| translate}}</span>
                <div class="invalid-tooltip" *ngIf="!codeValid && submitted">
                    <span *ngIf="form.get('code')?.hasError('required')">{{'AUTH.VALIDATE.REQCODE'| translate}}</span>
                    <span *ngIf="form.get('code')?.hasError('wrongCode')">{{'AUTH.VALIDATE.WRONGCODE'| translate}}</span>
                </div>
            </label>
            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-primary btn-lg btn-shadow" type="submit">{{'AUTH.ACTION.CONFIRM'| translate}}</button>
            </div>
        </form>
    </div>

    <div *ngIf="showResetForm">
        <h4 class="mb-4 text-center">{{'AUTH.TITLE.RESET' | translate}}</h4>

        <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="onReset()" novalidate class="tooltip-right-top position-relative mb-4 auth-form">
            <div class="row fields">
                <div class="col-lg-8 offset-lg-2 form-group">
                    <label class="has-float-label mb-4">
                        <input class="form-control" formControlName="password" type="password" placeholder="" [ngClass]="{'is-invalid': !passwordValid && submitted}"/>
                        <span>{{'AUTH.FIELD.NEWPASSWORD'| translate}}</span>
                        <div class="invalid-tooltip" *ngIf="!passwordValid && submitted">
                            <span *ngIf="resetForm.controls['password'].hasError('required')">{{'AUTH.VALIDATE.REQNEWPASSWORD'| translate}}</span>
                            <span *ngIf="resetForm.controls['password'].hasError('minlength')">{{'AUTH.VALIDATE.LENGTHPASSWORD'| translate}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row fields">
                <div class="col-lg-8 offset-lg-2 form-group">
                    <label class="has-float-label mb-4">
                        <input class="form-control" formControlName="confirmPassword" type="password" placeholder="" [ngClass]="{'is-invalid': !confirmPasswordValid && submitted}"/>
                        <span>{{'AUTH.FIELD.CONFIRMPASSWORD'| translate}}</span>
                        <div class="invalid-tooltip" *ngIf="!confirmPasswordValid && submitted">
                            <span *ngIf="resetForm.get('confirmPassword')?.hasError('required')">{{'AUTH.VALIDATE.REQCONFIRMPASSWORD'| translate}}</span>
                            <span *ngIf="resetForm.get('confirmPassword')?.hasError('minlength')">{{'AUTH.VALIDATE.LENGTHPASSWORD'| translate}}</span>
                            <span *ngIf="resetForm.get('confirmPassword')?.hasError('matchPassword')">{{'AUTH.VALIDATE.MATCHPASSWORD'| translate}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 form-group">
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="btn btn-primary btn-lg btn-shadow" type="submit">{{'AUTH.ACTION.RESET'| translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
