/* Main wrapper */
.landing .content {
    background: #009be8;
}

/* Header */
.landing .header a:hover {
    color: #fff;
    text-decoration: none;
}

.landing .header__right-menu {
    float: right;
    display: flex;
    align-items: center;
}

/* Footer */
.landing .footer a:hover {
    text-decoration: none;
}

.landing .footer .footer_list {
    flex-direction: column;
    align-items: flex-start;
}

.landing .footer_copy {
    text-align: left;
}

.landing .footer_cols {
    align-items: baseline;
}

/* Common styles */
.landing textarea:focus, input:focus{
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.landing *:focus {
    outline: none;
}

/* Modal dialog styles */
.landing .modal .modal-dialog .form-control {
    border: 2px solid #eae9e9;
}

.landing-modal-header-no-border {
    border-bottom: none !important;
}

/* Button styles */
.landing .btn {
    z-index: 0 !important;
}

/* Landing in header */
.landing .shortcont .section-main {
    padding-top: 0;
}

#mainContent .landing-toggler {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    color: #cccccc;
    font-family: "Rubik", sans-serif, sans-serif;
    background: none;
    border: none;
    padding: 0;
}

.landing #mainContent .landing-toggler:hover, #mainContent .landing-toggler:visited {
    text-decoration: none;
}

.landing #mainContent .landing-toggler::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 0 37px;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
}

.landing #mainContent .landing-toggler--opened::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.landing #mainContent .landing-toggler--closed::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -10px;
}

/* Sections */
.landing .section-business, .section-cabinet {
    background: #fff;
}

.landing .business_txt {
    text-align: left;
}

/* Auth modal */
.win-login {
    width: 100% !important;
    padding: 20px !important;
}

.win-login a:hover {
    text-decoration: none;
    color: #fff;
}

.landing .footer .footer_social {
    flex-direction: column;
    align-items: flex-start;
}
.landing .footer .footer_social li {
    list-style: none;
    display: inline;
}
.fa-custom-facebook{
    background-image: url("/img/facebook.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.fa-custom-instagram{
    background-image: url("/img/instagram.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.fa-custom-linkedin{
    background-image: url("/img/linkedin.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.fa-custom-twitter{
    background-image: url("/img/twitter.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.fa-custom-vk{
    background-image: url("/img/VK.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.fa-custom-youtube{
    background-image: url("/img/youtube.svg");
    padding: 2px 14px;
    background-repeat: no-repeat;
    background-position: center;
}
.landing .footer .footer_social ul{
    margin-top: 6px;
}
.landing .footer .footer_social .btn-lg{
    padding: .5rem .5rem;
}
.landing .footer .footer_list{
    margin-right: inherit;
}
.landing .footer .footer_social li:first-child .btn-lg{
    padding-left: 0;
}
.auth-form .form-control {
    border-radius: .1rem;
    outline: initial!important;
    box-shadow: initial!important;
    font-size: .8rem;
    padding: .5rem .75rem;
    line-height: 1;
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #3a3a3a;
    border-color: #d7d7d7;
    height: calc(2em + .8rem);
}
.auth-form .btn{
    height: 40px;
}
@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .landing .footer .footer_social {
        padding: 30px 0 40px;
        text-align: left;
    }

    .landing .header .nav {
        flex-direction: column;
    }
    .landing .header__right-menu {
        display: block;
        width: 100%;
    }

    .header__right-menu-item {
        text-align: center;
        margin: auto;
        padding: 10px 0;
        display: inline-block;
    }
    .header__right-menu-item .dropdown{
        margin: auto;
    }
    .dropdown-menu.show {
        display: block;
        width: 100%;
    }
    .header_login_link {
        display: block!important;
        color: #009be8!important;
    }
    .header_login_link:hover {
        color: #0383c3 !important;
    }
    .header__right-menu-item.ml-2{
        float: right;
        line-height: 58px;
        margin-right: 10px;
    }
}

.has-float-label {
    display: block;
    position: relative;
}
.has-float-label label,
.has-float-label > span:last-of-type {
    position: absolute;
    cursor: text;
    font-size: 80%;
    opacity: 1;
    top: -0.4em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 5px;
    background: #fff;
}
.has-float-label label::after,
.has-float-label > span::after {
    content: " ";
    display: block;
    position: absolute;
    height: 5px;
    top: 3px;
    left: -0.2em;
    right: -0.2em;
    z-index: -1;
}
.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
}
.has-float-label .form-control::-moz-placeholder {
    opacity: 1;
}
.has-float-label .form-control:-ms-input-placeholder {
    opacity: 1;
}
.has-float-label .form-control::placeholder {
    opacity: 1;
}
.has-float-label
.form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
}
.has-float-label
.form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
}
.input-group .has-float-label {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.input-group .has-float-label .form-control {
    width: 100%;
}
.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}













.form-group.has-top-label .form-control, .form-group.has-top-label .bootstrap-tagsinput {
    padding: 1.7rem 0.75rem 0.5rem 0.75rem;
}

.has-top-label {
    display: block;
    position: relative;
}
.has-top-label label,
.has-top-label > span:last-of-type {
    position: absolute;
    cursor: text;
    font-size: 76%;
    opacity: 1;
    top: 0.7rem;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    font-weight: 600;
}
.has-top-label label::after,
.has-top-label > span::after {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    top: 50%;
    left: -0.2em;
    right: -0.2em;
    z-index: -1;

}
.has-top-label .form-control::-webkit-input-placeholder {
    opacity: 1;
}
.has-top-label .form-control::-moz-placeholder {
    opacity: 1;
}
.has-top-label .form-control:-ms-input-placeholder {
    opacity: 1;
}
.has-top-label .form-control::placeholder {
    opacity: 1;
}
.has-top-label
.form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}
.has-top-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
}
.has-top-label
.form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
}
.has-top-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}

.input-group .has-top-label {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.input-group .has-top-label .form-control {
    width: 100%;
}
.input-group .has-top-label:not(:last-child),
.input-group .has-top-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.input-group .has-top-label:not(:first-child),
.input-group .has-top-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-group.has-top-label .form-control, .form-group.has-top-label .bootstrap-tagsinput {
    height: calc(3.3rem + 2px);
}

.form-group.has-top-label textarea.form-control {
    min-height: calc(3.3rem + 2px);
    height: initial;
}

.form-group.has-top-label select.form-control:not([size]):not([multiple]) {
    height: calc(3.3rem + 2px);
    padding: 1.7rem 0.75rem 0.5rem 0.5rem;
}
.swal2-actions .swal2-confirm,
.swal2-actions .swal2-styled.swal2-cancel{
    border-radius: 34px;
}
.authBlock{
    max-width: 770px;
    margin: 140px auto 0;
}

.lang-block{
    position: relative;
}
.rounded .dropdown-menu {
    border-radius: 0.75rem;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    font-size: 0.8rem;
    border-radius: 0.1rem;
    background: white;
    border-color: rgba(58, 58, 58, 0.15);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}
.dropdown-menu {
    font-size: 0.8rem;
    border-radius: 0.1rem;
    background: white;
    border-color: rgba(58, 58, 58, 0.15);
}

.dropdown-item {
    padding: 0.5rem 1.25rem;
    color: #3a3a3a;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #f8f8f8;
    color: #3a3a3a;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #145388;
}

.dropdown-divider {
    border-color: #d7d7d7;
}
.flag-icon.flag-icon-squared{
    width: 2em;
}
.flag-icon {
    line-height: 2em;
}
#dropdown-basic span.flag-icon{
    margin: 2px 10px 2px 20px;
}
